
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

.lato {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.quicksand {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

html {
    background: url(background-darker.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
 }

.scrollable {
    overflow-y: scroll;
}

.no-padding {
    padding: 0;
}

/* The overlay for the white bloom transition when loaded */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: white;
    opacity: 0;
    animation: pulse 1s 1;
}

 @keyframes pulse {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}


/* Overrides the ACX modal and gives the full view container
   a transparent background for the fullscreen effect. */
.modal {
    min-height: 100vh;
    width: 100%;
    box-shadow: none;
}

.acx-overlay-container {

}
