body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    background: url(background-darker.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: white;
    opacity: 0;
    animation: pulse 1s 1;
}


 @keyframes pulse {
      0% {
        opacity: 1.0;
      }
      100% {
        opacity: 0;
      }
    }