
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

.lato {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.quicksand {
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

html {
    background: rgba(0,0,0,0.2);
    /*background: url(background-darker.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
 }

.scrollable {
    overflow-y: scroll;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-top-padding {
    padding-top: 0;
}

/* The overlay for the white bloom transition when loaded */
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: white;
    opacity: 0;
    animation: pulse 1s 1;
}

 @keyframes pulse {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}


/* Overrides the ACX modal and gives the full view container
   a transparent background for the fullscreen effect. */
.modal {
    min-height: 100vh;
    width: 100%;
    box-shadow: none;
}

.acx-overlay-container {

}

.basic-dialog,
.basic-scrolling-dialog,
.max-height-dialog,
.headered-dialog,
.custom-colors-dialog,
.no-header-footer-dialog {
  width: 480px;
}



/* Materialize CSS Needs Custom Overrides on the Colors */

   /* label focus color */
   .input-field input:focus + label {
     color: #2196f3;
   }
   /* label underline focus color */
   .input-field input:focus {
     border-bottom: 1px solid #2196f3;
     box-shadow: 0 1px 0 0 #2196f3;
   }
   /* valid color "green lighten-1" */
   .input-field input.valid {
     border-bottom: 1px solid #66bb6a;
     box-shadow: 0 1px 0 0 #66bb6a;
   }
   /* invalid color "red accent-2" */
   .input-field input.invalid {
     border-bottom: 1px solid #ff5252;
     box-shadow: 0 1px 0 0 #ff5252;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #2196f3;
   }

